<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Hero" value="lanibaldi" />
    <add key="ConsumerKey" value="xxxxxxxxxxxxxxxxxxxxx" />
    <add key="ConsumerSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AccessToken" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AccessTokenSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="PathFile" value="C:\mongodb2_4" />
    <add key="QueueName" value=".\private$\my_tweets" />
    <!--<add key="UserNames" value="milanofinanza 24finanza newsfinanza finanzaeborse finanza_com ilG_economia istat_it Borsa_italiana sole24ore BorsaItalianaIT bimboalieno StrategieBorsa Borseit BuddyFoxxx TrendOnline 24FinMerc Crisi_Finanza virgiliofinanza classcnbc wallstreetita" />-->
    <!--<add key="UserNames" value="IlSostenibile minambienteIT sostenibile AmbienteinRete danielaminetti AngeloFrancy Falacosa_Giusta EdAmbiente Ecomondo rfconnection Go_GreenNews soloecologia cambieresti Orizzontenergia CcpbSrl GrissBicocca itaEnergetica LetoAlessandro GardoTheWALL AndreaOrlandosp elsagarzaro cmterzi ABenergie Greenpeace_ITA Legambiente greenMe_it WWFitalia Fondoambiente FAOnews" />-->
    <!--<add key="UserNames" value="giroditalia vincenzonibali girodeltrentino destefanoaless GiroSportDesign girostart2014 GiroRosaCycling CiclismoVIP Giro1946 UranRigoberto GranFondoGiro AstanaTeam bwinItalia DelCiclismo CiclismoEspreso Gazzetta_it cyclingpro AndroniGiocatto DarioCataldo NairoQuinCo canyon_bikes MaxLelli1 PelotonWatch IDiariDellaBici katushacycling Ilgerva77 Movistar_Team Lampre_Merida"/>-->
    <add key="UserNames" value="Brasile2014News mondialibra2014 mondali2014 CoppaDelMondo14 InfoMondiali pronosticidip Mundial20I4 Mondiali_2014"/>
  </appSettings>
</configuration>
