<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Hero" value="lanibaldi" />
    <add key="ConsumerKey" value="xxxxxxxxxxxxxxxxxxxxx" />
    <add key="ConsumerSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AccessToken" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AccessTokenSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="PathFile" value="C:\mongodb2_4" />
    <add key="QueueName" value=".\private$\my_tweets" />
    <add key="UserNames" value="finanza_com|milanofinanza|24finanza|newsfinanza|finanzaeborse|finanza_com|ilG_economia|istat_it|Borsa_italiana|sole24ore|BorsaItalianaIT|StrategieBorsa|Borseit|TrendOnline|24FinMerc|Crisi_Finanza|virgiliofinanza|wallstreetita" />
    <add key="TopicsQuery" value="#finanza|#piazzaffari|#borsa|#spread|#crisi|#trend|#azionario|#inflazione|#pil|#ascesa|#caduta|#debito|#fondo|#ribasso|#rialzo|#ipo|#investimento"/>
  </appSettings>
</configuration>
